@import "../variables.scss";

.approval-requests__container {
  @include flex($d: column);
  width: 100%;
  padding: 15px;
}
.approval-requests__top-cont {
  @include flex();
  justify-content: space-between;
  width: 100%;
}
.approval-requests__requests {
  @include flex();
  font-weight: 500;
  font-size: 15px;
  flex-basis: 30%;
  cursor: pointer;
  color: var(--secondary-text-color);
  font-style: italic;
}
.approval-requests__requests-cont {
  @include flex();
  flex-wrap: wrap;
  margin: 30px;
  width: 100%;
  gap: 40px;
}
