@import "../variables.scss";

.approvals__container {
  @include flex($d: column);
  width: 100%;
  margin-top: 40px;
}
.approvals__top-cont {
  @include flex();
  width: 95%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  padding: 0 15px 15px;
}
.approvals__buttons-cont {
  @include flex();
  gap: 10px;
}
.approvals__content-cont {
  @include flex($d: column);
  width: 95%;
}
