@import "../variables.scss";

.par__container {
  @include flex($d: column);
  width: 100%;
  gap: 25px;
  margin: 10px 0;
}
.par__section-cont {
  @include flex();
  width: 95%;
  gap: 50px;
  margin-bottom: 20px;
  .par__title-cont {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-basis: 10%;
    cursor: pointer;
  }
  .par__title {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    width: 80%;
  }
  &:nth-child(1) {
    color: var(--warning-color-hover);
    margin-top: 20px;
  }
  &:nth-child(2) {
    color: var(--positive-color);
  }
  &:nth-child(3) {
    color: var(--negative-color);
  }
}
.par__content-cont {
  @include flex();
  min-width: 80%;
  flex-wrap: wrap;
  height: 100%;
  flex-basis: 90%;
  gap: 15px;
}
.par__date {
  color: var(--primary-color);
  text-decoration: underline;
}
.par__icon {
  color: var(--icon-color);
}
