@import "../variables.scss";

.export__container,
.export__bottom-cont,
.export__filters-cont {
  @include flex($d: column);
}
.export__top-cont,
.export__hours-cont,
.export__generated-cont,
.export__table-cont {
  @include flex();
}

.export__container {
  width: 100%;
  gap: 20px;
  padding-top: 40px;
}
.export__top-cont {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.export__hours-cont {
  width: 100%;
  margin-top: 50px;
}
.export__bottom-cont {
  margin-top: 20px;
  width: 100%;
  gap: 40px;
}
