@import "../variables.scss";

.export__container {
  @include flex($d: column);
  width: 100%;
}
.export__top-cont {
  @include flex();
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 0;
}
.export__hours-cont {
  @include flex();
  width: 100%;
  margin-top: 50px;
}
.export__button-cont {
  @include flex();
  margin: 0 auto;
  gap: 50px;
}
