@import "../variables.scss";

.export-filters__container {
  @include flex-center();
  align-items: flex-start;
  margin-top: 20px;
  gap: 70px;
}
.export-filters__dropdowns-cont {
  @include flex();
  gap: 20px;
}
.export-filters__date-picker {
  margin-top: -25px;
}
.export-filters__checkbox-cont {
  @include flex($d: column);
  gap: 20px;
}
