@import "../variables.scss";

.people-table-head__container {
  width: 100%;
}
.people-table-head__row {
  width: 100%;
}
.people-table-head__field {
  font-size: 20px;
  color: var(--secondary-text-color);
}
