@import "../variables.scss";

.people__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  width: 100%;
  background-color: var(--primary-background-color);
  margin-top: -5px;
}
.people__top-cont {
  width: 100%;
  @include flex();
  align-items: center;
}
.people__content-cont {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-grow: 1;
}
.people__page-padding {
  padding-top: 45px;
}
