@import "../variables.scss";

.people-table-modal__content-cont {
  width: 100%;
  height: 100%;
  @include flex($d: column);
}
.people-table-modal__inputs-cont {
  @include flex($d: column);
  gap: 25px;
  margin: 30px 0 10px;
  width: 90%;
  height: 100%;
}
.people-table-modal__days-cont,
.people-table-modal__hours-cont {
  @include flex();
  justify-content: flex-start;
  gap: 15px;
}
.people-table-modal__hours-cont {
  width: 90%;
  justify-content: flex-start;
  gap: 0;
}
.people-table-modal__delete-cont {
  width: 100%;
  margin: 20px 0;
}
