@import "../variables.scss";

.teams__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 15%;
  align-items: flex-start;
  margin-top: 35px;
  position: relative;
  min-width: 200px;
}
.teams__list {
  list-style: none;
  width: 150px;
  margin-top: 40px;
  position: fixed;
  & li {
    margin-top: 30px;
    font-size: 25px;
    margin-left: 50px;
    text-align: left;
    color: var(--secondary-text-color);
    transition: color 0.15s ease-in-out;
    cursor: pointer;
  }
}
.teams__divider {
  height: 70vh;
  align-self: flex-end;
  position: fixed;
  margin-right: 10px;
}
