@import "./variables.scss";
.layout__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__header {
  flex-shrink: 0;
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid var(--primary-highlighted-color);
}

.layout__main-cont {
  @include flex($d: column);
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
}

.layout__footer {
  padding: 10px;
  flex-shrink: 0;
  background-color: var(--grey-background-color);
}
