@import "./variables.scss";

.people__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  width: 100%;
}
.people__top-cont {
  width: 100%;
  height: 100px;
  background: var(--ui-background-color);
}
.people__content-cont {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-grow: 1;
}

.people__teams-cont,
.people__people-cont {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.people__teams-cont {
  flex-basis: 15%;
  align-items: flex-start;
  margin-top: 75px;
}

.people__people-cont {
  flex-basis: 85%;
}

.people__divider {
  height: 70vh;
  align-self: center;
}
.people__title {
  font-size: 30px;
  margin-left: 30px;
  font-weight: 500;
}
.people__teams-list {
  list-style: none;
  width: 150px;
  margin-top: 20px;
  & li {
    margin-top: 30px;
    font-size: 25px;
    margin-left: 50px;
    text-align: left;
    color: var(--secondary-text-color);
    transition: color 0.15s ease-in-out;
    cursor: pointer;
  }
}
