@import "../variables.scss";

.filters__container {
  @include flex($d: column);
  width: 100%;
  margin: 0;
}
.filters__wrapper {
  @include flex();
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.filters__side-section {
  // padding: 10px;
  @include flex();
  gap: 20px;
}
.filters__date-input {
  height: 100px;
}
.users {
  margin: 10px;
}
