@import "../variables.scss";

.ratecards-comp__container {
  @include flex($d: column);
  flex-grow: 1;
  flex-basis: 85%;
  position: relative;
}
.ratecards-comp__top-cont {
  @include flex($d: column);
  flex-direction: column;
  align-items: center;
  width: 85%;
  position: fixed;
  height: 125px;
  background-color: var(--fixed-light-color);
  z-index: 998;
  justify-content: space-between;
  gap: 20px;
}
.ratecards-comp__top-wrapper {
  @include flex();
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.ratecards-comp__table-wrapper {
  width: 98.5%;
  margin-top: 165px;
  height: 100%;
}
.ratecards-comp__body-width,
.ratecards-comp__head-width {
  border-left: none;
  border-right: none;
  border-top: none;
  &:nth-child(1) {
    width: 25%; // User
  }
  &:nth-child(2) {
    width: 20%; // Team
  }
  &:nth-child(3) {
    width: 15%; // Hours
  }
  &:nth-child(4) {
    width: 20%; // Days
  }
  &:nth-child(5) {
    width: 12.5%; // Rate
  }
  &:nth-child(6) {
    width: 12.5%; // Currency
  }
}
.ratecards-comp__button {
  margin-right: 40px;
  justify-self: flex-end;
}
.ratecards-comp__team-title {
  font-weight: 500;
  font-size: 25px;
  margin: 25px 10px 10px;
  color: var(--placeholder-color);
}
